footer{
    .container{
        .footer__content{
            justify-content: space-between;
            .footer__pages,.footer__services{
                ul{
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    li{
                        a{
                            color: black;
                        }
                    }
                }
            }
            .footer__icon{
                .icons{
                    gap: 54px;
                }
            }
        }
    }
}