<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css"/>
    <title>Interno</title>
  </head>
  <body>
    <!-- Header Section starts from here-->
    <header>
      <div class="container">
      <nav class="nav__bar  display__flex">
        <div class="logo  display__flex">
          <div class="logo__img">
            <img src="../images/Logo.svg" alt="logo">
          </div>
          <div class="logo__text">
          <p>Interno<p>
          </div>
        </div>
<div class="horizontal__list  display__flex">
        <ul class="display__flex">
          <li><a href="#">Home</a></li>
          <li><a href="#">Pages</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Project</a></li>
          <li><a href="#">Blod</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="search__icon">
          <img src="../images/Search.svg" alt="search">
        </div>
        </div>
      </nav>
    </div>
    </header>
    <!-- Header Section ends here-->

    <main>
      <section class="banner">
          <img class="banner__image" src="../images/Photo.jpg" alt="" width="100%" height="auto">
          <div class="container">
          <div class="banner__content">
            <div class="banner__content--heading">
            <p>Let Your Home Be Unique </p>
            </div>
            <div class="banner__content--para">
            <p>There are many variations of the passages of lorem Ipsum from available,variations of the passages.</p>
          </div>
          <div class="banner__content--button">
           <a href="#">
            <button class="btn"> <p>Get Started</p>
<img src="../images/Vector.svg" alt="arrow">
            </button>
           </a>
            </div>
          </div>
        </div>
      </section>
      <section class="our__plans">
        <div class="container">
          <div class="card__div  display__flex">
          <div class="card">
            <div class="card__text">
            <h2>Project Plan</h2>
            <p>There are many variations of the passages of lorem Ipsum from available, majority.</p>
            </div>
            <div class="card__button">
              <a href="#">
                <button class="btn"> <p>Get Started</p>
    <img src="../images/Vector.svg" alt="arrow">
                </button>
               </a>
            </div>
          </div>
          <!--Second Content-->
          <div class="card">
            <div class="card__text">
            <h2>Project Plan</h2>
            <p>There are many variations of the passages of lorem Ipsum from available, majority.</p>
            </div>
            <div class="card__button">
              <a href="#">
                <button class="btn"> <p>Get Started</p>
    <img src="../images/Vector.svg" alt="arrow">
                </button>
               </a>
            </div>
          </div>
          <!--Third Content-->
          <div class="card">
            <div class="card__text">
            <h2>Project Plan</h2>
            <p>There are many variations of the passages of lorem Ipsum from available, majority.</p>
            </div>
            <div class="card__button">
              <a href="#">
                <button class="btn"> <p>Get Started</p>
    <img src="../images/Vector.svg" alt="arrow">
                </button>
               </a>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section class="contact__us">
        <div class="container">
          <div class="contact__content--div display__flex">
            <div class="left__div">
                <div class="left__div--heading">
                <p>We Create The Art Of Stylish Living Stylishly</p>
                </div>
                <div class="left__div--para">
                <p>It is a long established fact that a reader will be distracted by the of readable content of a page when lookings at its layouts the points of using that it has a more-or-less normal.</p>
              </div>
              <div class="left__div--call  display__flex">
                <div class="call__icon">
                  <img src="../images/Call Icon.png" alt="call icon">
                </div>
                <div class="call__number">
                  <p><b>012345678</b></p>
                  <p>Call Us Anytime</p>
                </div>
              </div>
              <div class="left__div--button">
               <a href="#">
                <button class="btn"> <p>Get Started</p>
    <img src="../images/Vector.svg" alt="arrow">
                </button>
               </a>
              </div>
            </div>
            <div class="right__div">
              <img src="../images/Photo1.jpg" alt="img">
            </div>
          </div>
        </div>
      </section>
      <section class="about__us">
        <div class="container">
          <div class="about__us--content">
            <div class="content__heading">
              <p>What the People Thinks About Us</p>
            </div>
            <div class="cards display__flex">
              <div class="card">
                <div class="card__top  display__flex">
                <div class="card__img">
                  <img src="../images/nattasha.jpg" alt="">
                </div>
                <div class="card__text">
                  <p>Nattasha Mith<br> Sydney, USA</p>
                </div>
                </div>
                <div class="card__bottom">
                  <p>Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been.</p>
                </div>
              </div>
              <div class="card">
                <div class="card__top  display__flex">
                <div class="card__img">
                  <img src="../images/raymond.jpg" alt="">
                </div>
                <div class="card__text">
                  <p>Nattasha Mith<br> Sydney, USA</p>
                </div>
                </div>
                <div class="card__bottom">
                  <p>Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been.</p>
                </div>
              </div>
              <div class="card">
                <div class="card__top display__flex">
                <div class="card__img">
                  <img src="../images/benny.jpg" alt="">
                </div>
                <div class="card__text">
                  <p>Nattasha Mith<br> Sydney, USA</p>
                </div>
                </div>
                <div class="card__bottom">
                  <p>Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been.</p>
                </div>
              </div>
            </div>
          </div>
      </section>
      <section class="brand__div">
                <div class="container">
                  <div class="client__logo display__flex">
                    <div class="logo">
                      <img src="../images/01.svg" alt="">
                    </div>
                    <div class="logo">
                      <img src="../images/02.svg" alt="">
                    </div>
                    <div class="logo">
                      <img src="../images/03.svg" alt="">
                    </div>
                    <div class="logo">
                      <img src="../images/04.svg" alt="">
                    </div>
                    <div class="logo">
                      <img src="../images/05.svg" alt="">
                    </div>
                  
                  </div>
                </div>
      </section>
      <section class="our__project">
        <div class="container">
          <div class="heading">
            <h2>Follow Our Projects</h2>
            <p>It is a long established fact that a reader will be distracted by the of readable content of page lookings at its layouts points.
            </p>
          </div>
          <div class="project__cards display__flex">
            <div class="project__card">
              <div class="project__card--top">
                <img src="../images/project1.png" alt="">
              </div>
              <div class="project__card--bottom display__flex">
                <div class="text">
                  <p>Modern Kitchen<br>Decor / Artchitecture</p>

                </div>
                <div class="project__card--button">
                  <a href="#">
                    <button class="btn"> 
                       <img src="../images/arrow.png" alt="arrow">
                    </button>
                   </a>
                </div>
              </div>
            </div>
            <div class="project__card">
              <div class="project__card--top">
                <img src="../images/project2.png" alt="">
              </div>
              <div class="project__card--bottom display__flex">
                <div class="text">
                  <p>Modern Kitchen<br>Decor / Artchitecture</p>

                </div>
                <div class="project__card--button">
                  <a href="#">
                    <button class="btn"> 
                       <img src="../images/arrow.png" alt="arrow">
                    </button>
                   </a>
                </div>
              </div>
            </div>
            <div class="project__card">
              <div class="project__card--top">
                <img src="../images/project3.png" alt="">
              </div>
              <div class="project__card--bottom display__flex">
                <div class="text">
                  <p>Modern Kitchen<br>Decor / Artchitecture</p>

                </div>
                <div class="project__card--button">
                  <a href="#">
                    <button class="btn"> 
                       <img src="../images/arrow.png" alt="arrow">
                    </button>
                   </a>
                </div>
              </div>
            </div>
            <div class="project__card">
              <div class="project__card--top">
                <img src="../images/project4.png" alt="">
              </div>
              <div class="project__card--bottom display__flex">
                <div class="text">
                  <p>Modern Kitchen<br>Decor / Artchitecture</p>

                </div>
                <div class="project__card--button">
                  <a href="#">
                    <button class="btn"> 
                       <img src="../images/arrow.png" alt="arrow">
                    </button>
                   </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="background__div">
        <div class="container">
          <div class="counter  display__flex">
            <div class="counter__text">
              <h2>12</h2>
              <p>Years of Experience</p>
            </div>
            <div class="counter__text">
              <h2>85</h2>
              <p>Success Project</p>
            </div>
            <div class="counter__text">
              <h2>15</h2>
              <p>Active Projects</p>
            </div>
            <div class="counter__text">
              <h2>95</h2>
              <p>Happy Customers</p>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section class="blog">
        <div class="container">
          <div class="blog__heading">
            <h2>Follow Our Projects</h2>
            <p>It is a long established fact that a reader will be distracted by the of readable content of page lookings at its layouts points.
            </p>
          </div>
          <div class="blog__cards display__flex">
            <div class="blog__card">
              <div class="blog__card--top">
                <img src="../images/img1.png" alt="">
              </div>
              <div class="blog__card--bottom">
                <div class="design__type">
                  <p>Kitchan Design</p>
                </div>
                <h3>Let’s Get Solution For Building Construction Work</h3>
               <div class="date display__flex">

                <div class="text">
                  <p>26 December,2022</p>

                </div>
                <div class="blog__card--button">
                  <a href="#">
                    <button class="btn"> 
                       <img src="../images/arrow.png" alt="arrow">
                    </button>
                   </a>
                </div>
               </div>
              </div>
            </div>
            <div class="blog__card">
              <div class="blog__card--top">
                <img src="../images/img2.png" alt="">
              </div>
              <div class="blog__card--bottom">
                <div class="design__type">
                  <p>Kitchan Design</p>
                </div>
                <h3>Let’s Get Solution For Building Construction Work</h3>
               <div class="date display__flex">

                <div class="text">
                  <p>26 December,2022</p>

                </div>
                <div class="blog__card--button">
                  <a href="#">
                    <button class="btn"> 
                       <img src="../images/arrow.png" alt="arrow">
                    </button>
                   </a>
                </div>
               </div>
              </div>
            </div>
            <div class="blog__card">
              <div class="blog__card--top">
                <img src="../images/img3.png" alt="">
              </div>
              <div class="blog__card--bottom">
                <div class="design__type">
                  <p>Kitchan Design</p>
                </div>
                <h3>Let’s Get Solution For Building Construction Work</h3>
               <div class="date display__flex">

                <div class="text">
                  <p>26 December,2022</p>

                </div>
                <div class="blog__card--button">
                  <a href="#">
                    <button class="btn"> 
                       <img src="../images/arrow.png" alt="arrow">
                    </button>
                   </a>
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="contact">
<div class="container">
  <div class="contact__card">
    <h1>Wanna join the interno?</h1>
    <p>It is a long established fact will be distracted.
    </p>
    <div class="card__button">
      <a href="#">
        <button class="btn"> <p>contact with us</p>
<img src="../images/Vector.png" alt="arrow">
        </button>
       </a>
    </div>
  </div>
</div>
      </section>
    <footer>
      <div class="container">
        <div class="footer__content  display__flex">
          <div class="footer__icon">
            <div class="logo  display__flex">
              <div class="logo__img">
                <img src="../images/Logo.svg" alt="logo">
              </div>
              <div class="logo__text">
              <p>Interno<p>
              </div>
          </div>
          <p>It is a long established fact that a reader <br> will be distracted lookings.</p>
          <div class="icons display__flex">
         <img src="../images/.png" alt="">
<img src="../images/.png" alt="">
<img src="../images/.png" alt="">
<img src="../images/.png" alt="">

          </div>
          </div>
          <div class="footer__pages">
            <h4>Pages</h4>
            <ul class="">
              <li><a href="#">Pages</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Project</a></li>
              <li><a href="#">Blod</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="footer__services">
            <h4>Pages</h4>
            <ul class="">
              <li><a href="#">Pages</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Project</a></li>
              <li><a href="#">Blod</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="footer__contact">
            <h4>Contact</h4>
            <p>55 East Birchwood Ave. Brooklyn, New York 11201 </p>
            <p>contact@interno.com</p>
            <p>(123) 456 - 7890</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
